# Copy to .env and set values
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority
PORT=5000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dx9d1xx6a
CLOUDINARY_API_KEY=927324272892173
CLOUDINARY_API_SECRET=sdDAuzOOsjdKMWUL3zws67vlpwE